@model StudentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kaydedildi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container m-4">
        <div class="card border-dark mb-3" style="width:700px;">
            <div class="card-header">
                <h2 >Merhaba, <span style="color:palevioletred">@Model.Name</span> </h2>
            </div>
            <div class="card-body text-dark">
                @if (Model.Confirm == true)
                {
                    <span>
                        Dijital Dönüşüm Online Sınıf Etkinliğimize Katıldığınız İçin Teşekkürler.
                    </span>

                    <div>
                        Diğer Öğrencileri <a asp-action="List">Listele</a>
                    </div>
                }
                else
                {
                    <span>
                        Çok üzüldük.
                    </span>
                }

            </div>
        </div>
    </div>   
</body>
</html>
