@model IEnumerable<StudentModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container m-4">
        <div class="card border-dark mb-3" style="width:auto;">
            <div class="card-header">
                Kurs Katılımcı Listesi
            </div>
            <div class="card-body text-dark">
                 <table border="1" border-collapsa="collapse;" style="table-layout:fixed" >
                    <thead style="background-color:mediumslateblue">
                        <tr>
                            <td>İsim</td>
                            <td>Eposta</td>
                            <td>Telefon</td>
                            <td>Onay</td>
                        </tr>


                    </thead>

                    <tbody>

                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.Name</td>
                                <td>@student.Email</td>
                                <td>@student.Phone</td>
                                <td>@student.Confirm</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>
    
    
</body>
</html>
